{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static','js/jSignature.min.js')}}"></script>
<style>


#signature {
		border: 2px dotted;
	}

  .loader{
    color:#fff;
    position:fixed;
    box-sizing:border-box;
    left:-9999px;
    top:-9999px;
    width:0;
    height:0;
    overflow:hidden;
    z-index:999999}
    
  .loader:after,.loader:before{
    box-sizing:border-box;
    display:none}
    
  .loader.is-active{
    background-color:rgba(0,0,0,.85);
    width:100%;
    height:100%;
    left:0;top:0}
    
  .loader.is-active:after,.loader.is-active:before{
    display:block}
    
  @keyframes rotation{
    0%{transform:rotate(0)}to{transform:rotate(359deg)}}
    
  @keyframes blink{0%{opacity:.5}to{opacity:1}}
  
  .loader[data-text]:before{
    position:fixed;
    left:0;
    top:50%;
    color:currentColor;
    font-family:Helvetica,Arial,sans-serif;
    text-align:center;
    width:100%;
    font-size:14px}
    
  .loader[data-text=""]:before{
    content:"Loading"}
    
  .loader[data-text]:not([data-text=""]):before{
    content:attr(data-text)}
    
  .loader[data-text][data-blink]:before{
    animation:blink 1s linear infinite alternate}
    
  .loader-default[data-text]:before{
    top:calc(50% - 63px)}
    
  .loader-default:after{
    content:"";
    position:fixed;
    width:48px;
    height:48px;
    border:8px solid #fff;
    border-left-color:transparent;
    border-radius:50%;
    top:calc(50% - 24px);
    left:calc(50% - 24px);
    animation:rotation 1s linear infinite}
    
  .loader-default[data-half]:after{
    border-right-color:transparent}
    
  .loader-default[data-inverse]:after{
    animation-direction:reverse}

</style>

{{end}}

{{if auth.has_membership(auth.user_id, role="admin"):}}
{{=response.toolbar()}}
{{pass}}

<div id="pageSignatureList">


<h1>International Association for Trusted Blockchain Applications</h1>
<h2>VISION</h2>

  <ol>
  <li>Blockchain and other distributed ledger technologies (DLT) have the potential to enable more decentralised, trusted, user-centric digital services, and stimulate new business models benefiting society and the economy.
  </li>
  <li>These technologies will create opportunities to enhance services and processes in both the public and private sectors, notably preserving data integrity, providing better control of data by citizens and organisations, reducing fraud, improving recordkeeping, access, transparency and auditability, within and across borders.
  </li>
  <li>The European Union supports blockchain and DLT technologies and their integration in public and private sector activities with a view to bringing tangible benefits to companies and citizens alike.  
  </li>
  <li>Successful blockchain and other DLT infrastructures and applications inspire trust when they have been designed as collaborative endeavors with high levels of transparency and a clear governance of decentralized processes. They provide rewards to those who contribute to the evolution and the protection of the integrity of the infrastructures and applications. They are successful because of the broad buy-in and support of the community of users and stakeholders committed to its success.
  </li>
  <li>Cooperation amongst all actors in the private sector (established industry players, start-ups and SMEs) involved in the development and use of blockchain and DLT is essential to meet high quality standards and protections in full compliance with EU legal obligations, avoid fragmentation and to promote an economic, legal and regulatory environment where trusted blockchain and DLT can spread and scale up across borders based on open standards and interoperable solutions. 
  </li>
  <li>The International Association for Trusted Blockchain Applications aims to bring together all those stakeholders committed to a shared vision that through continued collaboration and openness they can promote interoperability, transparent governance, legal certainty and trust in services enabled by blockchain and distributed ledger technologies (DLT), ultimately leading to high levels of sustainable economic growth. 
  </li>
  </ol>
  
  <h2>CHARTER</h2>
  
  <ol>
  <li>The International Association for Trusted Blockchain Applications is made up of like-minded organisations that recognise the potential of blockchain and distributed ledger technologies (DLT) to transform multiple industry sectors and services globally and are invested in the development, use and management of trusted blockchain and other DLT infrastructures and applications across the world.
  </li>
  <li>The Association's objective is to develop a transparent and inclusive governance and cooperation model(s) for blockchain and DLT infrastructures and applications, to inform policy and regulatory measures that may contribute to harnessing the many opportunities of blockchain through a close dialogue with policy-makers, regulators, to promote regulatory convergence and avoiding a fragmented approach that would hinder trust in these emerging technologies, reducing its uptake and potential impacts for society and the economy. 
  </li>
  <li>The Founders of the Association are actively pioneering blockchain solutions to improve efficiencies, enhance trust and promote growth within their organisations. Distributed ledger technologies (and their evolution with other distributed technologies) are seen by the Founders as particularly promising in ensuring more trust, integrity and transparency when delivering services, and ensuring efficiency in legal compliance.
  </li>
  <li>The Activities of the Association shall aim at achieving the Association's objectives amongst others by supporting the development and maintenance of guidelines and specifications for interoperable infrastructures based on blockchain and DLT technologies (and future scalable and distributed technologies) that meet the highest standards of cybersecurity, data protection, energy efficiency and where liability and responsibility are clearly established.
  </li>
  <li>The Founders of the Association agree to contribute to strengthen the European and global blockchain and DLT ecosystems by bringing key players together and they agree to cooperate in the development and maintenance of guidelines and specifications for blockchain and DLT infrastructures and applications; they agree to lead on interoperability and global standards, with the objective to enhance value-based, trusted, user-centric digital services. In doing so, they also agree to cooperate with public bodies that can advise the Association on compliance with existing legal frameworks applying to blockchain and other DLT technologies. 
  </li>
  <li>For the reasons and purposes enunciated above, the Founders have agreed to initiate actions towards establishing the International Association for Trusted Blockchain Applications as an entity under Belgian law and with membership being open to all organisations that subscribe to the vision and the commitments set out in this charter. Membership shall in particular be open to start-ups and other small and medium sized enterprises, organisations (and their associations) and the Association's technical committees shall be open to academia, too. 
  </li>
  </ol>

<hr>
<div class="card-group">
    {{counter = 0}}
    {{for record in records:}}
    
    
    <div class="col-md-3">
    <div class="card" >
        <img src="{{=record['signature.imagesvg']}}" class="card-img-top" style="height: 110px">
        <div class="card-body">
          <h5 class="card-title">{{=record['auth_user.organization']}}</h5>
          <p class="card-text">{{=record['auth_user.first_name']}} {{=record['auth_user.last_name']}}</p>
          
        </div>
      </div>
    </div>
    {{if counter%4 == 3:}}
    </div>
    <div class="card-group">
    {{pass}}
    {{counter = counter + 1}}
    
    {{pass}}
    </div>
  

<div class="loader loader-default" data-text="Please wait ..." id="the_loader"></div>

<hr>


<div class="row">
  <div class="col-lg-2">
    {{if auth.is_logged_in():}}
      <button type="button" class="btn btn-primary m-1" onclick="openSignaturePad()">Add signature</button>
    {{else:}}
      <a class="btn btn-primary m-1" href="{{=URL('user')}}">Add signature</a>
    {{pass}}
  </div>
  <div class="col-lg-2">
    {{if auth.has_membership(auth.user_id, role="registrar"):}}
      <a class="btn btn-primary m-1" href="javascript:finalizeAndRegister();">Finalize and register</a>
    {{pass}}
  </div>
</div>


</div>


<div id="pageSignaturePad" class="col-lg-8" style="display: none; background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-radius:5px;padding: 20px">
  <div class="loader loader-default" data-text="Please wait ..." id="the_loader2"></div>
  <h5 id="pageSignatureTitle">Please enter your signature</h5>

  <div id="signature" ></div>

  <button type="button" class="btn btn-primary mt-1" onclick="closeSignaturePad()">Close</button>
  <button type="button" class="btn btn-primary mt-1" onclick="clearSignaturePad()">Clear</button>
  <button type="button" class="btn btn-primary mt-1" onclick="sendSignatureToServer()">Register signature</button>

</div>

<div id="pageResultBlockchain">


</div>


{{block footer}}
<script>

jSignatureNotCreated = true

$(document).ready(function(){

  document.getElementById("pageSignatureList").style.display = "block";
  document.getElementById("pageSignaturePad").style.display = "none";
  
})

function openSignaturePad() {
  document.getElementById("pageSignatureList").style.display = "none";
  document.getElementById("pageSignaturePad").style.display = "block";

  if (jSignatureNotCreated) {
    jsigWidth = $("#pageSignaturePad").width()
    jsigWidth = jsigWidth-4
    jsigHeight = (Math.min(jsigWidth, window.innerHeight)/10)*7
    $("#signature").jSignature({"width": jsigWidth, "height": jsigHeight, 'signatureLine': true})
    jSignatureNotCreated = false
  }

}

function closeSignaturePad() {
  document.getElementById("pageSignatureList").style.display = "block";
  document.getElementById("pageSignaturePad").style.display = "none";
  $("#signature").jSignature("reset");
}

function clearSignaturePad () {
  $("#signature").jSignature("reset");
}

function sendSignatureToServer () {

  // Get the canvas data in SVG format
  var datapair = $("#signature").jSignature("getData", "svgbase64")
  var imgUrlData = "data:" + datapair[0] + "," + datapair[1]

  closeSignaturePad()
  $("#the_loader").addClass("is-active")
  $.post("{{=URL('storeAndDisplayResult')}}",
  {
    the_image: imgUrlData
  },
  function(data, status){
    window.location.assign("{{=URL('index')}}")
  });

}



function finalizeAndRegister () {
  $("#the_loader").addClass("is-active")
  $("#page2").load("{{=URL('registerinblockchain')}}", function(responseTxt, statusTxt, xhr){
    document.getElementById("pageSignatureList").style.display = "none";
    document.getElementById("pageSignaturePad").style.display = "none";
    $("#the_loader").removeClass("is-active")
  })  


  //$("#the_loader").addClass("is-active")
  //window.location.assign("{{=URL('registerinblockchain')}}")
}


</script>

{{end}}