<h3>The signed Charter has been registered in several blockchain networks</h3>
<p>The file is available here: <a href="/{{=request.application}}/static/files/{{=pdfName}}">Inatba Charter</a>.</p>
<div id="pageSignaturePad" class="col-lg-12" style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-radius:5px;padding: 20px">

{{if result == True:}}

<h2>Alastria Blockchain Ecosystem</h2>
<hr>

<dl class="row">
  <dt class="col-sm-3">The transaction is in block number:</dt>
  <dd class="col-sm-9">{{=receipt.blockNumber}}</dd>

  <dt class="col-sm-3">The block hash is:</dt>
  <dd class="col-sm-9">{{=receipt.blockHash.hex()}}</dd>

  <dt class="col-sm-3">The transaction hash is:</dt>
  <dd class="col-sm-9">{{=receipt.transactionHash.hex()}}</dd>

</dl>
{{pass}} 


{{if result == False:}}
<h2>There has been an error creating the transaction in Alastria</h2>
<p>The Hash is: 0x{{=txhash}}</p>
<p>And the transaction receipt is:</p>
<p>{{=receipt}}</p>
{{pass}}

</div>

<div id="pageSignaturePad" class="col-lg-12" style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-radius:5px;padding: 20px">
    
    <h2>IOTA</h2>
    <hr>
    
    <dl class="row">
      <dt class="col-sm-3">The transaction is in block number:</dt>
      <dd class="col-sm-9">{{=receipt.blockNumber}}</dd>
    
      <dt class="col-sm-3">The block hash is:</dt>
      <dd class="col-sm-9">{{=receipt.blockHash.hex()}}</dd>
    
      <dt class="col-sm-3">The transaction hash is:</dt>
      <dd class="col-sm-9">{{=receipt.transactionHash.hex()}}</dd>
          
    </dl>    
  </div>
  

<div id="pageSignaturePad" class="col-lg-12" style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-radius:5px;padding: 20px">
    
  <h2>Public Ethereum</h2>
  <hr>
  
  <dl class="row">
    <dt class="col-sm-3">The transaction is in block number:</dt>
    <dd class="col-sm-9">{{=receipt.blockNumber}}</dd>
  
    <dt class="col-sm-3">The block hash is:</dt>
    <dd class="col-sm-9">{{=receipt.blockHash.hex()}}</dd>
  
    <dt class="col-sm-3">The transaction hash is:</dt>
    <dd class="col-sm-9">{{=receipt.transactionHash.hex()}}</dd>
        
  </dl>    
</div>

<div id="pageSignaturePad" class="col-lg-12" style="background-color:white; margin: 0 auto 5px auto; box-shadow: 0 0 5px #a1a1a1; border-radius:5px;padding: 20px">
    
    <h2>Bitcoin</h2>
    <hr>
    
    <dl class="row">
      <dt class="col-sm-3">The transaction is in block number:</dt>
      <dd class="col-sm-9">{{=receipt.blockNumber}}</dd>
    
      <dt class="col-sm-3">The block hash is:</dt>
      <dd class="col-sm-9">{{=receipt.blockHash.hex()}}</dd>
    
      <dt class="col-sm-3">The transaction hash is:</dt>
      <dd class="col-sm-9">{{=receipt.transactionHash.hex()}}</dd>
          
    </dl>    
  </div>