{{extend 'layout.html'}}

{{block head}}
<style>
    .myHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        background-color: #004494;
    }

    .myLogoImg {
        height: 44px
    }

    .myLogoText {
        color: #ffffff;
        margin-left: 20px;
    }

</style>

{{end}}


{{if result == True:}}

<h2>The signed Charter has been registered in Alastria</h2>
<hr>

<dl class="row">
    <dt class="col-sm-3">The transaction is in block number:</dt>
    <dd class="col-sm-9">{{=receipt.blockNumber}}</dd>
  
    <dt class="col-sm-3">The block hash is:</dt>
    <dd class="col-sm-9">{{=receipt.blockHash.hex()}}</dd>
  
    <dt class="col-sm-3">The transaction hash is:</dt>
    <dd class="col-sm-9">{{=receipt.transactionHash.hex()}}</dd>

    <dt class="col-sm-3">The registered HTML file is here:</dt>
    <dd class="col-sm-9"><a href="/{{=request.application}}/static/files/{{=pdfName}}">Inatba Charter</a></dd>

  </dl>
  {{pass}} 


{{if result == False:}}
<h2>There has been an error creating the transaction in Alastria</h2>
<p>The Hash is: 0x{{=txhash}}</p>
<p>And the transaction receipt is:</p>
<p>{{=receipt}}</p>
{{pass}}



{{block footer}} <!-- this is default footer -->
{{end}}