
{{if result == True:}}

<h2>The signature has been registered in Alastria</h2>
<hr>

<dl class="row">
    <dt class="col-sm-3">The transaction is in block number:</dt>
    <dd class="col-sm-9">{{=receipt.blockNumber}}</dd>
  
    <dt class="col-sm-3">The block hash is:</dt>
    <dd class="col-sm-9">{{=receipt.blockHash.hex()}}</dd>
  
    <dt class="col-sm-3">The transaction hash is:</dt>
    <dd class="col-sm-9">{{=receipt.transactionHash.hex()}}</dd>

  </dl>
  {{pass}} 


{{if result == False:}}
<h2>There has been an error creating the transaction in Alastria</h2>
<p>The Hash is: 0x{{=txhash}}</p>
<p>And the transaction receipt is:</p>
<p>{{=receipt}}</p>
{{pass}}
