<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>INATBA Declaration</title>
</head>
<body>


<div>
  <canvas id="the-canvas1" style="border:1px solid black"></canvas>
</div>
<div>
  <canvas id="the-canvas2" style="border:1px solid black"></canvas>
</div>
<div>
  <canvas id="the-canvas3" style="border:1px solid black"></canvas>
</div>
<div>
  <canvas id="the-canvas4" style="border:1px solid black"></canvas>
</div>
<div>
  <canvas id="the-canvas5" style="border:1px solid black"></canvas>
</div>
              
<script src="{{=URL('static','js/pdf.js')}}"></script>


<script id="script">

  var url = "{{=URL('static','files/INATBAJointDeclarationofSupport.pdf')}}";

  var pdfDoc = null,
      pageNum = 1,
      pageRendering = false,
      pageNumPending = null,
      scale = 1,
      numPages = 0;


      canvas1 = document.getElementById('the-canvas1')
      canvas2 = document.getElementById('the-canvas2')
      canvas3 = document.getElementById('the-canvas3')
      canvas4 = document.getElementById('the-canvas4')
      canvas5 = document.getElementById('the-canvas5')

  
  
  function renderPageCtx(num, canvas) {
    // Using promise to fetch the page
    pdfDoc.getPage(num).then(function(page) {

      var desiredWidth = window.innerWidth/100*98;
      var viewport1 = page.getViewport({ scale: 1, });
      var scale = desiredWidth / viewport1.width;
      var viewport = page.getViewport({ scale: scale, });

      //var viewport = page.getViewport({ scale: scale, });
      canvas.height = viewport.height;
      canvas.width = viewport.width;

      // Render PDF page into canvas context
      var renderContext = {
        canvasContext: canvas.getContext('2d'),
        viewport: viewport,
      };
      page.render(renderContext);

    });

  }

  
  /**
   * Asynchronously downloads PDF.
   */
  var loadingTask = pdfjsLib.getDocument(url);
  loadingTask.promise.then(function(pdfDoc_) {
    pdfDoc = pdfDoc_;
    numPages = pdfDoc.numPages;

    // Initial/first page rendering
    renderPageCtx(1, canvas1);
    renderPageCtx(2, canvas2);
    renderPageCtx(3, canvas3);
    renderPageCtx(4, canvas4);
    renderPageCtx(5, canvas5);

  });
</script>

</body>
</html>